# Android Generic
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# User-specific / Secrets
google-services.json
jks
keystore
*.jks
*.keystore

# App-specific
/app/build
/app/*.iml

# Kotlin
.kotlin

# Miscellaneous
*.log
*.bak
*.swp
*~
.DS_Store
